<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiệm vàng Thanh Nhân</title>
    <link rel="stylesheet" href="bootstrap-5.3.3-dist/css/bootstrap.min.css">
</head>

<body ng-app="myapp">
    <!-- mb-5 position-fixed top-0 start-0 w-100 z-3 -->
    <div class="container-full" ng-controller="myctrl">
        <div class="container-full  " style="background-color: rgb(224, 175, 111); height: 130px; ">
            <div class="container">
                <div class="row h-25">
                    <div class="col-2 text-center">
                        <img src="hinh/logo1.png" height="150px" alt="" style="margin-top: -15px;">
                    </div>
                    <div class="col-6 h-25 mt-4 ">
                        <div class=" input-group ">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control " placeholder="Tìm kiếm sản phẩm..."
                                ng-model="keyword" ng-model-options="{debounce:200}" ng-click="stopPropagation($event)">

                        </div>
                        <div class="shadow-lg p-3 mb-5 rounded z-3 bg-white  position-relative " ng-if="keyword">
                            <div ng-repeat="sp in dssp | search:keyword:['gia','name'] | orderBy: name | limitTo:4 ">
                                <div class="cart">
                                    <div class="card-body   ">
                                        <a href="#!detail/{{sp.id}}" class="row  text-black text-decoration-none  ">
                                            <img src="hinh/{{sp.hinh}}" class="col-2" alt="" width="50px">
                                            <h5 class="card-title col-6 mt-4">{{sp.name}}</h5>
                                            <p class="card-text col-3 mt-4">{{sp.gia.toLocaleString()}}đ</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="navbar navbar-expand-lg navbar-black navbar-text   ">
                            <div class="container-fluid ">
                                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                                    <ul class="navbar-nav m-auto ">
                                        <li class="nav-item ">
                                            <a class="nav-link active" aria-current="page" href="#!">
                                                Trang chủ</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Vàng 24k
                                            </a>
                                            <ul class="dropdown-menu rounded-0 " aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#!vang24k/Nhẫn 24k"
                                                        ng-click="setCategoryFilter('nhan24')">Nhẫn 24k</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#!vang24k/Lắc 24k"
                                                        ng-click="setCategoryFilter('lac24')">Lắc 24k</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#!vang24k/Bông tai 24k"
                                                        ng-click="setCategoryFilter('bongtai24')">Bông tai 24k</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#!vang24k/Dây chuyền 24k"
                                                        ng-click="setCategoryFilter('day24')">Dây chuyền 24k</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#!vang24k/Thỏi vàng 24k"
                                                        ng-click="setCategoryFilter('thoivang24')">Thỏi vàng 24k</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#!vang24k/Vòng 24k"
                                                        ng-click="setCategoryFilter('vong24')">Vòng 24k</a></li>

                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Vàng 18k
                                            </a>
                                            <ul class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#!vang18k/Nhẫn 18k"
                                                        ng-click="setCategoryFilter('nhan18')">Nhẫn 18k</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#!vang18k/Lắc 18k"
                                                        ng-click="setCategoryFilter('lac18')">Lắc 18k</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#!vang18k/Bông tai 18k"
                                                        ng-click="setCategoryFilter('bongtai18')">Bông tai 18k</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#!vang18k/Dây chuyền 18k"
                                                        ng-click="setCategoryFilter('daychuyen18')">Dây chuyền 18k</a>
                                                </li>

                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#!vang18k/Vòng 18k"
                                                        ng-click="setCategoryFilter('vong18')">Vòng 18k</a></li>

                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Vàng Ý
                                            </a>
                                            <ul class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#">Nhẫn </a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Lắc </a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#!vangtrang/Bông tai Vàng Trắng"
                                                        ng-click="setCategoryFilter('bongtrang')">Bông tai</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Dây chuyền </a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Nhẫn cưới </a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Vòng </a></li>

                                            </ul>
                                        </li>

                                        <li class="nav-item ">
                                            <a class="nav-link " aria-current="page" href="#!tintuc">
                                                Tin tức</a>
                                        </li>

                                        <li class="nav-item ">
                                            <a class="nav-link " aria-current="page" href="#!lienhe">
                                                Liên hệ</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-4 mt-4 ">
                        <div class="row mt-3">
                            <div class="col-1 ms-3 mt-3"><i class="fa-solid fa-phone fa-shake fa-2xl"></i></div>
                            <div class="col-5 ">Hotline đặt hàng <br>
                                <h5 class="text-danger">
                                    &ThinSpace; 0785628531
                                </h5>
                            </div>
                            <div class="col-1 mt-3">
                                <a class="text-black" href="" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <i class="fa-regular fa-user fa-xl"></i>
                                </a>
                            </div>
                            <div class="modal fade w-100" id="exampleModal" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    <button class="nav-link active" id="nav-home-tab"
                                                        data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
                                                        role="tab" aria-controls="nav-home" aria-selected="true">ĐĂNG
                                                        NHẬP</button>
                                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-profile" type="button" role="tab"
                                                        aria-controls="nav-profile" aria-selected="false">ĐĂNG
                                                        KÝ</button>

                                                </div>
                                            </nav>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="tab-content " id="nav-tabContent">
                                                <div class="tab-pane fade show active " id="nav-home" role="tabpanel"
                                                    aria-labelledby="nav-home-tab" tabindex="0">
                                                    <div class="container ">

                                                        <form class=" g-3 ">
                                                            <div class="">
                                                                <label for="tk" class="form-label">Tên đăng nhập <span
                                                                        class="text-danger">*</span></label>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text"><i
                                                                            class="fa-solid fa-user"></i></span>
                                                                    <input type="text" class="form-control rounded-0 "
                                                                        id="tk" required ng-model="tk">
                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                <label for="mk" class="form-label">Mật khẩu <span
                                                                        class="text-danger">*</span></label>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text"><i
                                                                            class="fa-solid fa-lock"></i></span>
                                                                    <input type="text" class="form-control" id="mk"
                                                                        required ng-model="mk">

                                                                </div>

                                                            </div>
                                                            <div class="text-danger" ng-show="message">{{ message }}</div>
                                                            <div class="row mt-4">
                                                                <div class="col-7 mt-2">
                                                                    <a href="#!qmk" class="text-decoration-none  "
                                                                        style="color: rgb(224, 175, 111); ">Quên mật
                                                                        khẩu</a>
                                                                </div>
                                                                <div class="col-5">
                                                                    <button
                                                                        class="text-white border-0 pt-2 w-75 m-auto rounded-1"
                                                                        style="background-color: rgb(224, 175, 111); " ng-click="login()">
                                                                        <h6>Đăng nhập</h6>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </form>


                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                                    aria-labelledby="nav-profile-tab" tabindex="0">
                                                    <div class="container">
                                                        <form class=" g-3 ">
                                                            <div class="">
                                                                <label for="tk" class="form-label">Tên đăng nhập <span
                                                                        class="text-danger">*</span></label>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text"><i
                                                                            class="fa-solid fa-user"></i></span>
                                                                    <input type="text" class="form-control rounded-0 "
                                                                        id="tk" required ng-model="username">
                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                <label for="mk" class="form-label">Mật khẩu <span
                                                                        class="text-danger">*</span></label>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text"><i
                                                                            class="fa-solid fa-lock"></i></span>
                                                                    <input type="text" class="form-control" id="mk"
                                                                        required ng-model="password">

                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                <label for="remk" class="form-label">Nhập lại mật khẩu
                                                                    <span class="text-danger">*</span></label>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text"><i
                                                                            class="fa-solid fa-lock"></i></span>
                                                                    <input type="text" class="form-control" id="remk"
                                                                        required ng-model="repassword">

                                                                </div>
                                                            </div>
                                                            <div ng-show="message">{{ message }}</div>

                                                            <div class="row mt-4">

                                                                <button
                                                                    class="text-white border-0 pt-1  w-25 m-auto rounded-1"
                                                                    style="background-color: rgb(224, 175, 111); "
                                                                    ng-click="addAccount()">
                                                                    <h6>Đăng ký</h6>
                                                                    
                                                                </button>

                                                            </div>

                                                        </form>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-3">
                                <a class="text-black" href="#!cart">
                                    <div class=" position-relative">
                                        <i class="fa-solid fa-cart-shopping fa-xl"></i>
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle-y badge rounded-pill bg-danger">
                                            {{sl().toLocaleString()}}
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5" ng-view></div>
    </div>
    <div ng-show="isLoading"
        class="position-fixed top-0 bottom-0 z-3 start-0 end-0 bg-white d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-spinner fa-spin me-2"></i>
        Đang tải...
    </div>
    <div class="container-full mt-3 p-2" style="background-color: rgb(224, 175, 111); height: 260px;">
        <div class="row">
            <div class="col-3 text-center">
                <img src="hinh/logo1.png" width="150px" alt="">
                <h5>TIỆM VÀNG THANH NHÂN</h5>
                444 Mã lò P. Bình Hưng Hoà A <br>
                Q. Bình Tân
            </div>

            <div class="col-2 mt-4">
                <h4>CHÍNH SÁCH</h4>
                <a href="" class="text-decoration-none text-black">Chính Sách Thanh Toán</a> <br>
                <a href="" class="text-decoration-none text-black">Chính Sách Vận Chuyển</a><br>
                <a href="" class="text-decoration-none text-black">Chính Sách Bảo Mật</a><br>
                <a href="" class="text-decoration-none text-black">Chính Sách Đổi/Trả</a>
            </div>
            <div class="col-2 mt-4">
                <h4>DANH MỤC</h4>
                <a href="" class="text-decoration-none text-black">VÀNG 24K</a> <br>
                <a href="" class="text-decoration-none text-black">VÀNG 18K</a><br>
                <a href="" class="text-decoration-none text-black">VÀNG Ý</a><br>
            </div>
            <div class="col-2 mt-4 ">
                <h4>TIN TỨC</h4>
                <a href="" class="text-decoration-none text-black ">Cách bảo quản trang sức</a> <br>
                <a href="" class="text-decoration-none text-black">Dịch vụ cầm đồ</a><br>
                <a href="" class="text-decoration-none text-black">Hướng dẫn đo size nhẫn</a><br>
            </div>
            <div class="col-2 mt-3 ">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.8472220630466!2d106.59898371248255!3d10.781497802199407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c6e7812ba65%3A0xffd06525aba3f015!2zTcOjIEzDsiwgQsOsbmggSMawbmcgSG_DoCBBLCBCw6xuaCBUw6JuLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1710676160871!5m2!1svi!2s"
                    width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script src="bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/99445db236.js" crossorigin="anonymous"></script>

    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="angular-route.min.js"></script>

</body>

</html>